$mainColor: #2196F3;
.tabs {
    margin-bottom: 20px;
    .btnGroup{
    width: 100%;
        .btn{
            font-size: 12px;
            border-color: #DFE5EC;
            background-color: #fff;
            color: #4A4A4A;
            text-transform: uppercase;
            font-weight: 600;
        }
        .active {
            border-color: #2196F3;
            background-color: #2196F3;
            color:#fff
        }
    }
}